---
BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Always
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 100
SortIncludes: true
IncludeBlocks: Regroup
SortUsingDeclarations: true
